.projectlist{
  
    background-color:#bccad6;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    margin-top:0px;
    gap:20px;
    justify-content:space-evenly;
    height: 100%; 
    padding-top:30px;   
    padding-left:60px;
    padding-right:60px;
    
    
     
}

.projectPanel {
  font-family: sans-serif; 
  padding: 10px;
  display: flex;
  background: #bccad6;
  border: 1px outset gray; 
  grid-gap: 5px;
  flex-direction:column;
  width:100%;
}

.project-title {
  font-size: 20pt;
  font-weight: 200; 
  border-bottom: 1px outset gray;
  padding-bottom:10px;
  
  
}

.projectPanel img {
  background:#bccad6;
  max-width:100px;
  max-height:100px;
}

.project-info {
  background:#bccad6;
  display: flex;
  flex-direction:row;
  gap:10px;
  
 
}



.project-info a span {
  color: #007bff; /* Set the span color */
  transition: color 0.3s ease; /* Add a smooth transition for color change */
}

/* Apply styles to the span when it is hovered */
.project-info a:hover span {
  color: #ff6347; /* Change the span color on hover */
}

@media (max-width: 768px) {

.projectlist{
  
    background-color:#bccad6;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    margin-top:0px;
    gap:20px;
    justify-content:space-evenly;
    height: 100%; 
    padding-top:30px;   
    padding-left:20px;
    padding-right:20px;
    
    
     
}



 .project-title {
  box-sizing:border-box;
  font-size: 16pt;
  font-weight: 200;
  padding: 5px;
  border-bottom: 0.5px outset gray;
  background:#bccad6;
  display: flex;
  
 
 
}

.projectPanel img {
   
  background:#bccad6;
}

.project-info {
  background:#bccad6;
  overflow:hidden;
 
}





}

