.projectlist{
  
 
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: start;
    gap:20px;
    justify-content:space-evenly;
    height: 100%; 
    padding-top:30px;   
    padding-left:60px;
    padding-right:60px;
    
    
     
}

.projectPanel {
  margin-top:25px;
  font-family: sans-serif; 
  padding: 10px;
  display: flex;
  border: 1px outset gray; 
  grid-gap: 5px;
  flex-direction:column;
   width:100%;
}

.project-title {
  display:flex;
  font-size: 20pt;
  font-weight: 200; 
  border-bottom: 1px outset gray;
  padding-bottom:10px;
  justify-content:flex-start;
  
  
}

.projectPanel img {
 
  max-width:200px;
  max-height:200px;
}

.project-info {
   display: flex;
  flex-direction: row; 
  align-items: center; 
  text-align: center; 
  gap: 10px;
 
 
}
.project-info a {
  
  color:black;
  
 

}

.project-info a span {
  color: LightCoral; 
  transition: color 0.3s ease; 
}


.project-info a:hover span {
  color: blue;
}

@media (max-width: 768px) {

.projectlist{
  
   
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    gap:20px;
    justify-content:space-evenly;
    height: 100%; 
    padding-top:30px;   
    padding-left:20px;
    padding-right:20px;
    
    
     
}



 .project-title {
  box-sizing:border-box;
  
  padding: 5px;
  border-bottom: 0.5px outset gray;
  display: flex;
  
 
}

 .projectPanel {
  margin-top:10px;
  font-family: sans-serif; 
  display: flex;
  border: 1px, gray; 
  grid-gap: 5px;
  flex-direction:column;
  width:100%;
  
}




}

