@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
 margin:0;
 padding:0;
 font-family:'Poppinns', sans-serif;
 box-sizing:border-box;
}
.custom {
  display:flex;
  align-items: center;
  
  color: white;
  font-size: 60px;
  font-family: 'Dancing Script', cursive;
  font-weight: bold; 
  
  
 
  
}

.Icontainer{
 width:100%;
 height:100vh;
}



li{
 list-style:none;
}
a{
  color:white;
  text-decoration:none;
}

.navbar{
  width:100%;
  height:5em;
  display:flex;
  padding:0 24px;
  background-color:rgb(37, 39, 53);
  padding:1em;
  justify-content:space-between;
  padding-right:40px;
  padding-left:40px;

  
}
.nav-menu{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:60px;
  
  
  
 
}


.nav-link{
  transition:0.5s ease;
}

.nav-link:hover{
      color:LightCoral;
      
 }



.hamburger{
 display:none;
 cursor:pointer;
}

.custom-active{
  display:none;


}
 


.bar {
  width: 40px;
  height: 4px;
  background-color:white;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
  
  
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
  
}


@media(max-width:768px){
 .hamburger {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute; /* Position the hamburger */
  top: 33px; /* Adjust the top value as needed */
  right:60px; /* Position on the right side */
  
}

 
 
 .display-column {
  display: flex;
  flex-direction: column;
  background-color: rgb(37, 39, 53);
  width: 150px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0px;
 
}
.custom {
  color: white;
  font-size:40px;
  font-family: 'Dancing Script', cursive;
  font-weight: bold; 
  width:200px;
  height:100px;
  margin-left:0px;
  padding-bottom:40px;
 
   
}
.custom-active{
  display:none;


}
 
 
 .nav-menu{
  position: absolute;
  top: -120%; 
  width: 20%;
  transition: 0.01s;
  display: flex;
  justify-content: center;
  gap: 10px;
 
 }
 
 
 
 .nav-menu-active{
  right: 0;
  position: absolute; 
  top: 20%; 
  width: 30%;
  transition: 0.1s;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center; 
  justify-content: center;
  padding-right:50%;
  
  
 
 }
  
 
}

